<div class="nav-bar">
  <% if user_signed_in? && current_user.admin %>
    <p>admin</p>
  <% end %>
  <% if user_signed_in? %>
    <%= link_to "me déconnecter", destroy_user_session_path, method: :delete, class: "btn" %>
  <% else %>
    <%= link_to "me connecter", new_user_session_path, class: "btn" %>
  <% end %>
</div>
<div class="form classic-form">
  <%= simple_form_for @club do |f| %>
    <%= f.input :name, label: "Nom de l'associassion" %>
    <%= f.input :bg_image, as: :file, label: "Image de fond" %>
    <%= f.input :bg_image_phone, as: :file, label: "Image de fond pour Iphone" %>
    <div class="form-actions">
      <%= link_to "annuler", clubs_path, class:"btn" %>
      <%= f.submit "modifier l'association", class:"btn" %>
      <% end %>
    </div>
</div>
