<div class="nav-bar">
  <% if user_signed_in? && current_user.admin %>
    <p>admin</p>
  <% end %>
  <% if user_signed_in? %>
    <%= link_to "me déconnecter", destroy_user_session_path, method: :delete, class: "btn" %>
  <% else %>
    <%= link_to "me connecter", new_user_session_path, class: "btn" %>
  <% end %>
</div>

<div class="container-club">
  <h3 class="title">Liste des associations</h3>
  <% if current_user.admin %>
    <div class="cards-club">
      <div class="card-club">
        <div class="club-name">
          <p>Nom</p>
        </div>
        <div class="clients-number">
          <p>Clients</p>
        </div>
        <div class="club-actions">
          <p>Actions</p>
        </div>
      </div>
      <% @clubs.each do |club| %>
        <div class="card-club">
          <div class="club-name">
            <%= club.name %>
          </div>
          <div class="clients-number">
            <%= club.clients.count %>
          </div>
          <div class="club-actions">
            <%= link_to "Voir", club_path(club), class: "btn-show" %>
            <%= link_to "Modifier", edit_club_path(club), class:"btn-edit" %>
          </div>
        </div>
      <% end %>
    </div>
    <%= link_to "Ajouter une association", new_club_path, class: "btn-add" %>
  <% end %>
</div>
