<div class="container">
  <% if current_user.admin %>

    <% @clubs.each do |club| %>
      <%= link_to club_path(club), class: "btn" do  %>
        <div>
          <%= club.name %>
        </div>
      <% end %>
    <% end %>

    <%= link_to "ajouter une association", new_club_path %>

  <% else %>

    <%= link_to club_path(@my_club), class: "btn" do  %>
      <div>
        <%= @my_club.name %>
      </div>
    <% end %>

  <% end %>
</div>
