


<% if user_signed_in? %>
  <%= render "shared/navbar" %>
  <% if user_signed_in? && current_user.admin %>
    <%= link_to "Retour", clubs_path, class: "btn" %>
  <% end  %>
  <div class="container-client">
    <h3 class="title">Liste des clients à <%= @club.name %></h3>
    <div class="cards-client">
      <div class="card-client">
        <div class="client-first-name">
          <p>Prénom</p>
        </div>
        <div class="client-last-name">
          <p>Nom</p>
        </div>
        <div class="client-number">
          <p>Numéro</p>
        </div>
        <div class="client-actions">
          <p>Actions</p>
        </div>
      </div>
      <% @club.clients.each do |client| %>
        <div class="card-club">
          <div class="client-first-name">
            <%= client.first_name.capitalize %>
          </div>
          <div class="client-last-name">
            <%= client.last_name.capitalize %>
          </div>
          <div class="client-number">
            <%= client.phone_number %>
          </div>
          <div class="client-actions">
            <%= link_to "Voir", club_client_path(client), class: "btn-show" %>
            <% if current_user.admin? %>
              <%= link_to "Modifier", edit_club_client_path(client), class:"btn-edit" %>
            <% end  %>
          </div>
        </div>
      <% end %>
    </div>
    <%= link_to "Modifier l'association", edit_club_path(@club), class:"btn-edit" %>
    <%= link_to "Ajouter un client", new_club_client_path(@club), class: "btn-add pd-l" %>
  </div>
<% else %>
  <div class="main-container laptop">
    <%= image_tag("merci.png", alt: "merci", class: "logo-merci") %>
    <%= image_tag("tickgreen.png", alt: "tick vert", class: "tick-merci") %>
    <p class="text-merci">
      Merci d'avoir rempli ce formulaire, vous pouvez dès à présent fermer cette page.
    </p>
    <p class="text-merci">
      Un collaborateur prendra attache avec vous rapidement.
    </p>
    <p class="text-merci">
      L'équipe Michelin Immobilier vous remercie de votre confiance... <br> À très vite !
    </p>
    <%= image_tag("avotreservice.png", alt: "logo michelin immo", class: "logo-michelin") %>
  </div>
  <div class="footer laptop">
    <div class="contact-infos">
      <h5 class="contact-text laptop"><i class="fa-solid fa-phone"></i>04.72.52.28.28</h5>
      <h5 class="contact-text laptop"><i class="fa-solid fa-envelope"></i>contact@michelin-immobilier.fr</h5>
      <h5 class="contact-text laptop"><i class="fa-brands fa-facebook-square"></i>MICHELIN IMMOBILIER</h5>
    </div>
    <h6 class="address-text laptop">67 avenue lanessan - 69410 CHAMPAGNE AU MONT D'OR</h6>
  </div>


  <div class="main-container-phone phone">
    <%= image_tag("merci.png", alt: "Image de remerciement", class: "logo-merci-phone phone") %>
    <%= image_tag("tickgreen.png", alt: "Image de remerciement", class: "tick-merci-phone phone") %>
    <p class="text-phone phone">
      Merci d'avoir rempli ce formulaire, vous pouvez dès à présent fermer cette page.
    </p>
    <p class="text-phone phone">
      Un collaborateur prendra attache avec vous rapidement.
    </p>
    <p class="text-phone phone">
      L'équipe Michelin Immobilier vous remercie de votre confiance...
    </p>
    <h4 class="phone">À très vite !</h4>
  </div>
  <div class="footer-phone phone">
    <div class="content-footer">
      <%= image_tag("avotreservice.png", alt: "logo michelin", class: "logo-michelin-phone phone") %>
      <div class="contact-infos-phone">
        <div class="d-flex">
          <i class="fa-solid fa-phone"></i><h5 class="contact-text-phone phone">04.72.52.28.28</h5>
        </div>
        <div class="d-flex">
          <i class="fa-solid fa-envelope"></i><h5 class="contact-text-phone phone">contact@michelin-immobilier.fr</h5>
        </div>
        <div class="d-flex">
          <i class="fa-brands fa-facebook-square"></i><h5 class="contact-text-phone phone">MICHELIN IMMOBILIER</h5>
        </div>
        <h6 class="address-text-phone phone">67 avenue lanessan - 69410 CHAMPAGNE AU MONT D'OR</h6>
      </div>
    </div>
  </div>

<% end %>
