<% if @club.bg_image.attached? %>
  <div class="background-image-asso" style="background-image: url('<%= cl_image_path @club.bg_image.key %>')">
    <h1 class="asso-name">
      <%= @club.name %>
    </h1>
    <div class="form-page">
      <% if @club.left_logo.attached? && @club.right_logo.attached?%>
        <img src="<%= cl_image_path @club.left_logo.key %>" alt="left logo", class="form-logo">
        <%= render "form" %>
        <img src="<%= cl_image_path @club.right_logo.key %>" alt="right logo", class="form-logo">
      <% else %>
        <div class="form client-form no-photo">
          <%= simple_form_for [ @club, @client ] do |f| %>
            <%= f.input :first_name, placeholder: 'Prénom', label:false %>
            <%= f.input :last_name, placeholder: 'Nom', label:false %>
            <%= f.input :email, placeholder: 'Email (optionnel)', label:false %>
            <%= f.input :phone_number, placeholder: 'Téléphone', label:false %>
            <%= f.input :address, placeholder: 'Adresse (optionnel)', label:false %>
            <%= f.input :free_text, placeholder: 'Texte libre (optionnel)', label:false %>
            <div class="form-action">
              <%= f.submit "Envoyer", class: "btn-send"%>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="background-image-asso">
    <h1 class="asso-name">
      <%= @club.name %>
    </h1>
    <% if @club.left_logo.attached? && @club.right_logo.attached? %>
      <div class="form-page">
        <img src="<%= cl_image_path @club.left_logo.key %>" alt="left logo", class="form-logo">
        <%= render "form" %>
        <img src="<%= cl_image_path @club.right_logo.key %>" alt="right logo", class="form-logo">
      </div>
    <% else %>
      <div class="form client-form no-photo">
        <%= simple_form_for [ @club, @client ] do |f| %>
          <%= f.input :first_name, placeholder: 'Prénom', label:false %>
          <%= f.input :last_name, placeholder: 'Nom', label:false %>
          <%= f.input :email, placeholder: 'Email (optionnel)', label:false %>
          <%= f.input :phone_number, placeholder: 'Téléphone', label:false %>
          <%= f.input :address, placeholder: 'Adresse (optionnel)', label:false %>
          <%= f.input :free_text, placeholder: 'Texte libre (optionnel)', label:false %>
          <div class="form-action">
            <%= f.submit "Envoyer", class: "btn-send"%>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<% if @club.bg_image_phone.attached? %>
  <div class="background-image-asso-phone" style="background-image: url('<%= cl_image_path @club.bg_image_phone.key %>')">
    <h1 class="asso-name">
      <%= @club.name %>
    </h1>
    <%= render "form" %>
  </div>
<% else %>
  <h1 class="asso-name">
    <%= @club.name %>
  </h1>
  <div class="form client-form no-photo">
        <%= simple_form_for [ @club, @client ] do |f| %>
          <%= f.input :first_name, placeholder: 'Prénom', label:false %>
          <%= f.input :last_name, placeholder: 'Nom', label:false %>
          <%= f.input :email, placeholder: 'Email (optionnel)', label:false %>
          <%= f.input :phone_number, placeholder: 'Téléphone', label:false %>
          <%= f.input :address, placeholder: 'Adresse (optionnel)', label:false %>
          <%= f.input :free_text, placeholder: 'Texte libre (optionnel)', label:false %>
          <div class="form-action">
            <%= f.submit "Envoyer", class: "btn-send"%>
          </div>
        <% end %>
      </div>
    <% end %>
