<%= link_to "back", club_path(@club) %>
<div>
  <%= @client.first_name %>
  <%= @client.last_name %>
  <%= @client.phone_number %>
  <%= @client.email %>
  <%= @client.address %>
  <%= @client.free_text %>
</div>

<%= link_to "Supprimer le client",
            club_client_path(@client),
            method: :delete,
            data: { confirm: "Are you sure?" },
            class:"btn btn-remove" %>
