<%= render "shared/navbar" %>
<%= link_to "Retour", club_path(@club), class: "btn"  %>

<div class="fiche-client">
  <div class="infos-client">
    <p>Prénom: <%= @client.first_name.capitalize %></p>
    <p>Nom: <%= @client.last_name.capitalize %></p>
    <p>Numéro: <%= @client.phone_number %></p>
    <p>E-mail: <%= @client.email %></p>
    <p>Adresse: <%= @client.address %></p>
    <p>A propos: <%= @client.free_text %></p>
    <% if current_user.admin %>
      <%= link_to "Modifier le client", edit_club_client_path(@client), class:"btn btn-edit" %>
    <% end %>
  </div>
</div>
