<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>
      Un nouveau client s'est inscrit à <%= @club.name %>
    </h1>
    <p>
      Contact <%= @client.first_name.capitalize %> <%= @client.last_name.upcase  %> au <%= @client.phone_number %>
    </p>
    <% if @client.free_text %>
      <p> <%= @client.free_text %></p>
    <% end %>
  </body>
</html>
